.navbar
    img(src='/img/icon.png' class='logo')
    h1 Critical Genesis
    .navpages 
        a(href='/' class='navitem button' class=page == 'main' ? "active" : undefined) Home
        a(href='/molly' class='navitem button' class=page == 'molly' ? "active" : undefined) Molly
        a(href='/about' class='navitem button' class=page == 'about' ? "active" : undefined) About